@font-face {
    font-family: myfont1;
    src: url(./fonts/Ballet-Regular-VariableFont_opsz.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(./fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: myfont3;
    src: url(./fonts/CroissantOne-Regular.ttf);
}
@font-face {
    font-family: myfont4;
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.library{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.library_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgb(91, 89, 89);
    margin-bottom: 1px;
    margin-right: 15px;
    margin-left: 15px;
}
h2{
    font-family: myfont4, sans-serif, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: rgb(255, 25, 25);
    text-shadow: 1px 1px 1px black;

}

li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
}
input{
    height: 1.5rem;
    font-size: 0.9rem;
    width: 290px; 
    border: 1px solid black;  
}
input:hover{
    border: 3px solid red;
}
#read_status {
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1px;
}

#read_status .radio{
    width: fit-content;
    margin: 0px;
    margin-right: 20px;
}
li.label1{
    font-size: 1.1rem;
    color: rgb(2, 16, 103);
    font-weight: 800;


}
#read_status > .radio > label{
    width: fit-content;
    font-size: 1rem;
}
#yes, #no{
    width: fit-content;
}
legend{
    font-size: 1.4rem;
    color: rgb(4, 139, 76);
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(12, 12, 12);
    background-color: white;
    border: 1px solid black;
    padding: 5px;

}
fieldset{
    max-width: 330px; 
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
}
fieldset p{
    margin-top: 1px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}
.buttons{
    box-sizing: border-box;
    max-width: 360px;
    text-align: center;
    margin-top: 20px;
}
button{
    margin: 1px;
    font-size: 1rem;
    background: rgb(103, 103, 105);
    height: 2rem;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}
.buttons > p {
    margin-top:4px;
    margin-bottom: 2px;
}

label{
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: myfont4, 'Times New Roman', Times, serif;
    color: red;
    text-shadow: 1px 1px 1px black;
}
#search_rezult{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    width: auto;
    border-radius: 15px;
}
#book_index, #dem{
    border-radius: 10px;
    min-height: 80px;
    border: 1px solid rgb(225, 1, 1);
    margin-top: 5px;
    margin-bottom: 5px;
}

#book_index{
    display: flex;
    align-items: end;
    min-width: 80px;
    background:white;
    color: black;
    margin-right: 20px;
    font-size: 1.1rem;
    padding: 5px;
    justify-content:center;
    align-items: center;
}
#dem{
    box-sizing:content-box;
    display: flex;
    color: rgb(255, 17, 17);
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    min-width: 230px;
    align-items:center;
    padding: 5px;
    justify-content: center;
    font-size: 1.5rem;
}
.shelfs{
    max-width: 380px;

}

#shelf1, .shelf2{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow: scroll;
    justify-content:end;
    align-items: left;
    border: 8px solid black;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    max-width: 380px;
    min-height: 370px;
    margin: 1px;
    margin-top: 6px;
    color: darkblue;
    rotate: -90deg;
}

.book{
    display:flex;
    align-items: center;
    justify-content: center;
    rotate: 3deg;
    border: 1px solid black;
    height: 2rem;
    width: 350px;
    margin:2px;
    color: rgb(202, 196, 196);
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 15px 5px 5px 15px;
}
#disply_book{
    border: 2px solid black;
    height: 20px;
    width: 200px;
}
.book1{
    background: brown;
    color: yellow;
    border: 2px solid black;
    font-size: 1.1rem;
    height: 50px;
}

.book2{
    background: rgb(21, 5, 5);
    color: silver;
    border: 2px solid black;
    font-size: 1.1rem;
}
.book3{
    background: rgb(235, 4, 4);
    color: rgb(247, 233, 233);
    border: 2px solid black;
    font-size: 1.1rem;
}
.book4{
    background: rgb(2, 76, 15);
    color: rgb(247, 233, 233);
    border: 2px solid black;
    font-size: 1.1rem;
    height: 40px;
}
.book5{
    background: rgb(1, 10, 64);
    color: rgb(249, 249, 36);
    border: 2px solid black;
    font-size: 1.1rem;
}
.book6{
    background: rgb(21, 5, 5);
    color: silver;
    border: 2px solid black;
    font-size: 1.1rem;
}

